@charset "utf-8";
/* Styles for Sub Terra */

body {
  margin: 5%;
}
p {
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}

hr {
	border: none;
	border-top: 1px solid;
	height: 0;
	margin-top: 1.5em;
	margin-right: auto;
	margin-bottom: 1.5em;
	margin-left: auto;
	width: 25%;
}
.noindent {
  display: block;
  font-size: 1.14286em;
  line-height: 1.2;
  text-align: justify;
  text-indent: 0;
  margin: 0;
}
.no-space {
  margin-top: 0;
  margin-bottom: 0;
}
.indent {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  text-indent: 1.5em;
}
